* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: pink;
    display: flex;
    flex-direction: column;
}
@font-face{
    font-family:"ornament";
    src: url(./funetes/Simple\ Ornament.otf);
}
h1{
    font-family: ornament;
    text-align: center;
    padding: 10vh;
    font-size: 5rem;
    animation-name: mover;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
body img{
    padding: 3vh;
    box-shadow: 3px 3px 5px #000;
}
button{
    background-color: yellow;
    padding:2vh;
    width: 50vw;
    margin-left: 25vw;
    font-size: 2rem;
    box-shadow: 3px 3px 3px #000;
    transition: transform 2s cubic-bezier(0,1,1,0);
}
.contenedor{
    display:flex;
    flex-direction: column;
}

.ecma,.ecma2,.ecma3,.ecma4{
    box-shadow: 0px 3px 3px #000;
    margin: 5vh;
    height: 20vh;
    display: flex;
    align-items: center;
}
.titulo{
    margin: 0;
}
p{
    padding: 5vh;
}
button:hover{
    transform: scale(1.1);
}
<<<<<<< HEAD


summary::before {
    content: "▶  ";
    display: inline-block;
    transition: transform 1 ease-in-out;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #d810b7;
    color: white;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
=======
@keyframes mover{
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(100px);
        opacity: 0;
    }
}

@media(max-width:800px){
    h1{
        margin-top: 10vh;
        font-size: 2rem;
    }
    button{
        padding: 1vh;
        font-size: 1rem;
    }
}
>>>>>>> refs/remotes/origin/main
